<div class="comment-card">
  <div class="comment-card-header">
    {{post_id}}
  </div>
  <div class="card-body">
    <p>
      {{body}}
    </p>
    <p>
      Posted by: {{user_id}}  {{createdAt}}
    </p>
  </div>
</div>
