<link rel="stylesheet" href="/css/style.css">


<form action="/login" method="POST">
<h1>Login</h1>    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
    </div>
    <button type="submit">Log In</button>

    <a class="loginLink" href="/register">Register</a>
</form>
