<div id="w3-container" style="margin: 20px 0px 20px 10px;">
  <h2>
    Add a Post
  </h2>
  <form class="add-post-form" method="POST" action="/create">
    <label for="title">
      Title:
    </label>
    <br />
    <textarea id="title" name="title" rows="1" cols="100"></textarea>    
    <br />
    <label for="body">
      Body:
    </label>
    <br />
    <textarea id="body" name="body" rows="10" cols="100"></textarea>
    <br />
    <button type="submit" value="Submit">
      Submit
    </button>
  </form>
</div>