body,h1,h2,h3,h4,h5,h6 {
    font-family: "Raleway", sans-serif;
    margin-left: 10px;
}

.loginLink {
    margin: 20px 0px 20px 10px;
    padding: 10px;
}


form {
    border: 3px solid #f1f1f1;
    margin: 10px;
    padding: 10px;
}


input[type=email], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

textarea {
  padding: 10px;
  margin: 10px;
  width: 90%;
  background-color: #ddd;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  margin: 8px;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.6;
}
